{{ define "main" }}
	<section>
	<article class="post">
		<header>
			<h2><span>{{ .Title }}</span><span> - </span><time datetime="{{ .Date | time.Format "2006-01-02T15:04:05Z07:00" | safeHTMLAttr }}">{{ .Date | time.Format ":date_long" }}</time></h2>
			{{- partial "tags.html" . -}}
			{{ if not .Params.hidereadtime }}<span class="instapaper_ignoref">{{ i18n "readingTime" .ReadingTime }}</span>{{ end }}
		</header>
		<div>
		{{ .Content }}
		</div>
		<!--footer>
			{{- partial "share.html" . -}}
		</footer-->
	</article>
	</section>
{{ end }}
