{{ define "main" }}
	<section>
	<h2>
	{{ if .CurrentSection.Title}}
		{{ .CurrentSection.Title }}{{ if ne .Title .CurrentSection.Title}} - {{ .Title }}{{ end }}
	{{ else }}
		{{ .Title }}
	{{ end }}
	</h2>
	{{- .Content -}}
	<nav id="tags">
	<ul>
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
		<li>
	   	{{ $Scratch := newScratch }}
		{{- $Scratch.Set "class" false }}
		{{- if in .Name "client:" }}
			{{- $Scratch.Set "class" "-client" }}
		{{- else if in .Name "tech:" }}
			{{- $Scratch.Set "class" "-tech" }}
		{{- else if in .Name "type:" }}
			{{- $Scratch.Set "class" "-type" }}
		{{- else if in .Name "visibility:" }}
			{{- $Scratch.Set "class" "-visibility" }}
		{{- else if in .Name "year:" }}
			{{- $Scratch.Set "class" "-year" }}
		{{- end }}
		    <a href="{{ .Permalink }}"{{ if ne ($Scratch.Get "class") false }} class="{{ $Scratch.Get "class" }}"{{ end }}>{{ .Name }} ({{ $count }})</a>
		</li>
    {{- end }}
    {{- end }}
    </ul>
	</nav>
	</section>
{{ end }}
